<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />

  <node pkg="co_scan" type="co_scan" name="co_scan" output="screen" launch-prefix="$(arg launch_prefix)" args="-alsologtostderr"/>
</launch>